// @import "variables";
html,
body {
  width: 100%;
  height: 100%;
  font-family: MicrosoftYaHei;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

span {
  display: inline-block;
}

// 防止ios移动端滚动卡顿
.scroll {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch !important;
}

.hidden {
  overflow: hidden;
}

// 组件
.mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.dialog {
  z-index: 99;
}

.card {
  // min-width: $cardSize;
  // min-height: $cardSize;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 6px 14px 0px rgba(15, 23, 31, 0.04);
  border-radius: 6px;
  border: 1px solid #b1cef0;

  &:after {
    position: absolute;
    right: 10px;
    top: 10px;
    content: '';
    display: inline-block;
    // width: $cardCircleSize;
    // height: $cardCircleSize;
    // background-image: url('../images/components/icon-card-radio-unchecked.png');
    background-size: cover;
  }

  &.checked {
    &:after {
      // background-image: url('../images/components/icon-card-radio-checked.png');
    }
  }

  &.right {
    &:after {
      // width: $cardCircleSize;
      // height: $cardCircleSize;
      right: 20px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
